<h1>Admin Dashboard</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th> Category </th>
      <th> Number of Products </th>
    </tr>
  </thead>

  </tbody>
    <tr>
      <td> Apparel </td>
      <td> <%= @apparel_count %> </td>
    </tr>

    <tr>
      <td> Electronics </td>
      <td> <%= @electronics_count %> </td>
    </tr>

    <tr>
      <td> Furniture </td>
      <td> <%= @furniture_count %> </td>
    </tr>

  <tfoot>
    <tr>
      <th> Total number of products </th>
      <td> <%= @product_count %> </td>
    </tr>
  </tfoot>

</table>
